
<!--<p>
    {{controller.message}}
</p>-->

<div class="fluid-container">
    <div class="row">
        <div class="login-page">
            <div class="login-title-text">
                <h3>Log In to Code Query</h3>
                <h5>Query Your Code!</h5>
            </div>
            <div class="login-form-container">
                <div class="signin-buttons">
                    <div class="major-provider google-login">
                        <div class="icon-container">
                            <i class="fa fa-google icon"></i>
                        </div>
                        <div class="text">
                            <span>Google</span>
                        </div>
                    </div>
                    <div class="major-provider facebook-login">
                        <div class="icon-container">
                            <i class="fa fa-facebook icon"></i>
                        </div>
                        <div class="text">
                            <span>Facebook</span>
                        </div>
                    </div>
                    <!--<button class="btn major-provider">Google</button>
                    <button class="btn major-provider">Facebook</button>-->
                </div>
                <br />
                <div class="or-container">
                    <hr class="or-hr" style="border: 1px solid #ccc;"/>
                    <div id="or">OR</div>
                </div>
                <form id="login-form" ng-submit="controller.login()">
                    <label for="email">Username</label><br />
                    <input type="text" class="form-control" id="email" placeholder="example@example.com" ng-model="controller.loginUser.email"/><br />
                    <label for="password">Password</label><br />
                    <input type="password" id="password" class="form-control" placeholder="********" ng-model="controller.loginUser.password"/><br />
                    <a href="#" id="forgot-pw" class="forgot">forgot?</a><br />
                    <input type="submit" id="submit-button" name="submit-button" value="Log in" class="btn login-button" />
                </form>
            </div>
        </div>
    </div>
</div>