<div class="fluid-container fl-container">
    <div class="not-found-header">
        <h2>Page Not Found</h2>
    </div>
    <hr />
    <div class="not-found-body">
        <div class="not-found-text">
            <h4>We couldn't find the page you requested</h4>
            <h4>Try searching for similar questions</h4>
            <h4>Browse our <a href="/question">recent questions</a></h4>
            <h4>Browse our popular tags</h4>
            <h4>If you feel something is missing that should be here, contact us</h4>
        </div>
        <div class="not-found-image">
            <img src="../../images/code-red-640x360.png" width="400"/>
        </div>
    </div>
</div>