<div class="container-fluid" id="profile-nested-view">
    <div class="public-info">
        <h3>Public Information</h3>
        <div class="profile-image">
            <img src="../../images/user-example.jpg" height="70" />
            <!--<label class="btn edit-profile-btn">
                <a href="/" class="edit-profile">Edit Profile</a>
            </label>-->
        </div>
        <div class="public-info-details">
            <div class="row">
                <div class="col-sm-6">
                    <div class="user-name">
                        <label class="text-muted profile-label">Display Name:</label>
                        <input type="text" ng-model="controller.user.userName" class="profile-input" />
                    </div>
                    <div class="user-location">
                        <label class="text-muted profile-label">Location:</label>
                        <input type="text" ng-model="controller.user.location" class="profile-input" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="user-position">
                        <label class="text-muted profile-label">Position: </label>
                        <input type="text" ng-model="controller.user.position" class="profile-input" />
                    </div>
                    <div class="user-company">
                        <label class="text-muted profile-label">Company: </label>
                        <input type="text" ng-model="controller.user.company" class="profile-input" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="private-container">
                <h3>Private Information <span class="text-muted">(not shown publicly)</span></h3>
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <label class="text-muted profile-label">First Name:</label>
                        <input type="text" ng-model="controller.user.firstName" class="profile-input" /><br />
                        <label class="text-muted profile-label">Email:</label>
                        <input type="text" ng-model="controller.user.email" class="profile-input" /><br />
                        <label class="text-muted profile-label">Birthday:</label>
                        <p class="calen-group">
                            <input type="text" class="form-control well well-sm" uib-datepicker-popup="{{controller.format}}"
                                   ng-model="controller.dt" is-open="status.opened"
                                   show-weeks="true" custom-class="getDayClass(date,mode)"
                                   close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="controller.open($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                        <input type="text" ng-model="controller.user.birthday" class="profile-input" /><br />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-me">
                        <h4 class="text-muted">About Me:</h4>
                        <textarea class="profile-textarea" ng-model="controller.user.aboutMe">
                    </textarea>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div class="web-presence">
            <h3>Web Presence</h3>
            <div class="row web-presence-links">
                <div class="col-sm-4">
                    <div class="website">
                        <label class="text-muted">Website link</label><br />
                        <i class="fa fa-link profile-icon"></i>
                        <input type="text" ng-model="controller.user.website" class="profile-input-career" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="twitter">
                        <label class="text-muted">Twitter link or username</label><br />
                        <i class="fa fa-twitter profile-icon"></i>
                        <input type="text" ng-model="controller.user.twitter" class="profile-input-career" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="github">
                        <label class="text-muted">GitHub link or username</label><br />
                        <i class="fa fa-github-alt profile-icon"></i>
                        <input type="text" ng-model="controller.user.gitHub" class="profile-input-career" />
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="career-container">
            <div class="row">
                <div class="col-sm-6">
                    <label class="text-muted">Where do you code?</label>
                    <div class="btn-group">
                        <label class="btn code-btn" ng-model="controller.op" uib-btn-radio="'work'">Work</label>
                        <label class="btn code-btn" ng-model="controller.op" uib-btn-radio="'school'">School</label>
                        <label class="btn code-btn" ng-model="controller.op" uib-btn-radio="'hobby'">Hobby</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="pro-area" ng-show="(controller.op=='work')">
                        <label class="text-muted">Current Position</label>
                        <div class="double-input">
                            <input type="text" name="WorkRole" placeholder="Current Position" class="ac-input" ng-model="controller.user.position"/>
                            <span class="separator">at</span>
                            <input type="text" name="WorkOrganization" placeholder="Company Name" class="ac-input" ng-model="controller.user.company"/>
                        </div>
                    </div>
                    <div class="student-area" ng-show="(controller.op=='school')">
                        <label class="text-muted">Degree or concentration and school name</label>
                        <div class="double-input">
                            <input type="text" name="SchoolRole" placeholder="Degree or Concentration" class="ac-input" ng-model="controller.user.schoolName"/>
                            <span class="separator">at</span>
                            <input type="text" name="SchoolOrganization" placeholder="School or University" class="ac-input" ng-model="controller.user.schoolDegree"/>
                        </div>
                    </div>
                    <div class="hobby-area" ng-show="(controller.op=='hobby')">
                        <label class="text-muted">Just &lt3 code </label><br />
                        <input type="text" name="OtherDescription" placeholder="Share a favorite project or something you hack at" id="hobby-code-input" class="ac-input" ng-model="controller.user.hobbyCode"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

