<div class="container-fluid" id="profile-nested-view">
    <div class="public-info">
        <h3>Public Information <span ng-show="controller.GetClaim('isAdmin')"> - ADMIN</span></h3>
        <div class="profile-image">
            <img src="../../images/user-example.jpg" height="70"/>
            <!--<label class="btn edit-profile-btn">
                <a href="/" class="edit-profile">Edit Profile</a>
            </label>-->
        </div>
        <div class="public-info-details">
            <div class="row">
                <div class="col-sm-6">
                    <div class="user-name">
                        <label class="text-muted">Display Name:</label>
                        <label>{{controller.user.displayName}}</label>
                    </div>
                    <div class="user-location">
                        <label class="text-muted">Location</label>
                        <label>{{controller.user.location}}</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="user-position">
                        <label class="text-muted">Position: </label>
                        <label>{{controller.user.position}}</label>
                    </div>
                    <div class="user-company">
                        <label class="text-muted">Company: </label>
                        <label>{{controller.user.company}}</label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="private-container">
                <h3>Private Information <span class="text-muted">(not shown publicly)</span></h3>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="text-muted">Real Name:</label>
                        <label>{{controller.user.firstName}} {{controller.user.lastName}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Email:</label>
                        <label>{{controller.user.email}}</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="text-muted">Birthday:</label>
                        <label>{{controller.user.birthday}}</label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="about-me">
                <h4 class="text-muted">About Me:</h4>
                <p>
                    {{controller.user.aboutMe}}
                </p>
            </div>
        </div>
        
        <hr />
        <div class="web-presence">
            <h3>Web Presence</h3>
            <div class="row web-presence-links">
                <div class="col-sm-4">
                    <div class="website">
                        <label class="text-muted">Website link</label><br />
                        <i class="fa fa-link profile-icon"></i>
                        <label>{{controller.user.website}}</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="twitter">
                        <label class="text-muted">Twitter link or username</label><br />
                        <i class="fa fa-twitter profile-icon"></i>
                        <label>{{controller.user.twitter}}</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="github">
                        <label class="text-muted">GitHub link or username</label><br />
                        <i class="fa fa-github-alt profile-icon"></i>
                        <label>{{controller.user.gitHub}}</label>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <!--<div class="career-container">
            <div class="row">
                <div class="col-sm-6">
                    <label class="text-muted">Where do you code?</label>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn code-btn active">
                            <input type="radio" name="options" id="work" autocomplete="off" value="work" checked> Work
                        </label>
                        <label class="btn code-btn">
                            <input type="radio" name="options" id="school" autocomplete="off" value="school"> School
                        </label>
                        <label class="btn code-btn">
                            <input type="radio" name="options" id="hobby" autocomplete="off" value="hobby"> Just &lt3 code
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="pro-area" ng-model="options == 'work'">
                        <label class="text-muted">Current Position</label>
                        <div class="double-input">
                            <input type="text" name="WorkRole" placeholder="Current Position" class="ac-input" />
                            <span class="separator">at</span>
                            <input type="text" name="WorkOrganization" placeholder="Company Name" class="ac-input" />
                        </div>
                    </div>
                    <div class="student-area" ng-model="options == 'school'">
                        <label class="text-muted">Degree or concentration and school name</label>
                        <div class="double-input">
                            <input type="text" name="SchoolRole" placeholder="Degree or Concentration" class="ac-input" />
                            <span class="separator">at</span>
                            <input type="text" name="SchoolOrganization" placeholder="School or University" class="ac-input" />
                        </div>
                    </div>
                    <div class="hobby-area" ng-model="options == 'hobby'">
                        <label class="text-muted">Just &lt3 code </label><br />
                        <input type="text" name="OtherDescription" placeholder="Share a favorite project or something you hack at" id="hobby-code-input" class="ac-input" />
                    </div>
                </div>
            </div>
        </div>-->
        
    </div>
</div>
