<div class="container-fluid" id="profile-nested-view">
    <div class="public-info">
        <h3>Public Information</h3>
        <div class="profile-image">
            <img src="../../images/user-example.jpg" height="70" />
            <!--<label class="btn edit-profile-btn">
                <a href="/" class="edit-profile">Edit Profile</a>
            </label>-->
        </div>
        <div class="public-info-details">
            <div class="row">
                <div class="col-sm-6">
                    <div class="user-name">
                        <label class="text-muted profile-label">Display Name:</label>
                        <input type="text" value="Robert Frost" class="profile-input" />
                    </div>
                    <div class="user-location">
                        <label class="text-muted profile-label">Location:</label>
                        <input type="text" value="Kirkland" class="profile-input" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="user-position">
                        <label class="text-muted profile-label">Position: </label>
                        <input type="text" value="Software Engineer" class="profile-input" />
                    </div>
                    <div class="user-company">
                        <label class="text-muted profile-label">Company: </label>
                        <input type="text" value="Robert Frost Academny" class="profile-input" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="private-container">
                <h3>Private Information <span class="text-muted">(not shown publicly)</span></h3>
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <label class="text-muted profile-label">Real Name:</label>
                        <input type="text" value="Robert Frost" class="profile-input" /><br />
                        <label class="text-muted profile-label">Email:</label>
                        <input type="text" value="robert@frost.com" class="profile-input" /><br />
                        <label class="text-muted profile-label">Birthday:</label>
                        <p class="calen-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{controller.format}}"
                                   ng-model="controller.dt" is-open="status.opened"
                                   show-weeks="true" class="well well-sm" custom-class="getDayClass(date,mode)"
                                   close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="controller.open($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                        <input type="text" value="March 26, 1874" class="profile-input" /><br />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-me">
                        <h4 class="text-muted">About Me:</h4>
                        <textarea class="profile-textarea">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum urna ligula, a congue risus semper non. Phasellus faucibus volutpat sem eget finibus. Vivamus non justo sit amet ante pretium sollicitudin id eget tortor. Sed auctor, eros vel vehicula tempor, justo felis ultricies leo, sed efficitur dolor libero eu quam. Aliquam erat volutpat. Curabitur elementum neque sit amet ultrices suscipit. Cras commodo, nisi vel scelerisque elementum, risus nibh consectetur lacus, nec egestas nunc ex vitae risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam justo urna, consequat vitae mattis at, elementum ut mauris. Curabitur bibendum eros purus, at pulvinar nibh facilisis sit amet. Sed accumsan sapien turpis, a commodo augue ultricies sed.

                            Etiam quis posuere velit. Nunc lacinia molestie velit, vel egestas mauris tincidunt at. Morbi id est dui. Proin sed turpis a dolor suscipit hendrerit. Mauris ac posuere lectus. Cras sapien nisi, condimentum a efficitur quis, cursus eget ligula. Vivamus ullamcorper nibh vel arcu laoreet vestibulum. Duis porttitor molestie sem at euismod. Donec ultricies erat eget lacus cursus, vel porttitor neque eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sagittis quam venenatis tortor efficitur scelerisque. Etiam eleifend malesuada pharetra.

                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras dignissim in arcu ut elementum. Maecenas convallis sapien eu dolor auctor, finibus iaculis justo dictum. Nullam eget eros dolor. Fusce facilisis dui id est varius, ac bibendum dolor commodo. Morbi et mi tempus, ultricies augue non, viverra nisi. Nunc pharetra, lorem ut ultrices aliquam, velit quam malesuada orci, ut dictum arcu lectus cursus dolor. Curabitur urna leo, vulputate vel metus vel, pulvinar ultricies turpis. Ut porta, sapien in interdum consectetur, lorem ligula commodo purus, vel rhoncus mauris leo ac tortor. Sed maximus nulla sed elit ornare, in vulputate lorem sagittis. Donec ac lobortis enim. Donec nec sollicitudin sapien, nec tempus nulla. Nulla vel tincidunt tortor. Praesent finibus est ac iaculis tincidunt. Nullam vitae metus erat. Aenean id mi fermentum erat molestie condimentum.
                        </textarea>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div class="web-presence">
            <h3>Web Presence</h3>
            <div class="row web-presence-links">
                <div class="col-sm-4">
                    <div class="website">
                        <label class="text-muted">Website link</label><br />
                        <i class="fa fa-link profile-icon"></i>
                        <input type="text" value="www.robertfrost.com" class="profile-input-career" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="twitter">
                        <label class="text-muted">Twitter link or username</label><br />
                        <i class="fa fa-twitter profile-icon"></i>
                        <input type="text" value="@robertfrost" class="profile-input-career" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="github">
                        <label class="text-muted">GitHub link or username</label><br />
                        <i class="fa fa-github-alt profile-icon"></i>
                        <input type="text" value="https://github.com/robertforst/awesome-repo" class="profile-input-career" />
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="career-container">
            <div class="row">
                <div class="col-sm-6">
                    <label class="text-muted">Where do you code?</label>
                    <div class="btn-group">
                        <label class="btn code-btn" ng-model="controller.op" uib-btn-radio="'work'">Work</label>
                        <label class="btn code-btn" ng-model="controller.op" uib-btn-radio="'school'">School</label>
                        <label class="btn code-btn" ng-model="controller.op" uib-btn-radio="'hobby'">Hobby</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="pro-area" ng-show="(controller.op=='work')">
                        <label class="text-muted">Current Position</label>
                        <div class="double-input">
                            <input type="text" name="WorkRole" placeholder="Current Position" class="ac-input" />
                            <span class="separator">at</span>
                            <input type="text" name="WorkOrganization" placeholder="Company Name" class="ac-input" />
                        </div>
                    </div>
                    <div class="student-area" ng-show="(controller.op=='school')">
                        <label class="text-muted">Degree or concentration and school name</label>
                        <div class="double-input">
                            <input type="text" name="SchoolRole" placeholder="Degree or Concentration" class="ac-input" />
                            <span class="separator">at</span>
                            <input type="text" name="SchoolOrganization" placeholder="School or University" class="ac-input" />
                        </div>
                    </div>
                    <div class="hobby-area" ng-show="(controller.op=='hobby')">
                        <label class="text-muted">Just &lt3 code </label><br />
                        <input type="text" name="OtherDescription" placeholder="Share a favorite project or something you hack at" id="hobby-code-input" class="ac-input" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

