<h1>Label Search Page</h1>

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <table class="table">
            <tr ng-repeat="post in controller.posts">
                <td class="votes-cell">
                    <div class="votes-cell-num">
                        {{post.votes}}
                    </div>
                    <div class="votes-cell-text">
                        Votes
                        <!--{{post}}-->
                    </div>
                </td>
                <td class="answer-cell" ng-class="{{post.replyCount}} > 20">
                    <div class="answer-cell-num">
                        {{post.replyCount}}
                    </div>
                    <div class="answer-cell-text">
                        Answers
                    </div>
                </td>
                <td class="view-cell">
                    <div class="view-cell-num">
                        {{post.views}}
                    </div>
                    <div class="view-cell-text">
                        Views
                    </div>
                </td>
                <td class="post-cell">
                    <div class="post-title">
                        <a href="/message/{{post.id}}">{{post.title}}</a>
                    </div>
                    <div class="post-title-labels">
                        <span ng-repeat="label in post.labels" uib-popover="Search for questions about {{label.text}}" popover-trigger="mouseenter" popover-animation="true" class="label label-default" style="margin-right: 5px">
                            <a class="link-label" href="/labels/{{label.text}}">{{label.text}}</a>
                        </span>
                            <button ng-click="controller.length()">Length</button>
                    </div>
                    <!--<button uib-popover-html="htmlPopover" class="btn btn-default">HTML Popover</button>-->
                    <div class="post-title-user-info">
                        <div class="post-timestamp">
                            asked {{post.timeAgo}}
                        </div>
                        <div class="post-user-info">
                            <a href="#" uib-popover="View Profile" popover-trigger="mouseenter" popover-animation="true">Andrey</a> <span title="reputation score"> 7379</span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>