

<div class="fluid-container">
    <div class="row">
        <div class="login-page">
            <div class="login-title-text">
                <h3>Signup to Code Query</h3>
                <h5>Query Your Code!</h5>
            </div>
            <div class="signup-form-container">
                <div class="signin-buttons">
                    <div class="major-provider google-login">
                        <div class="icon-container">
                            <i class="fa fa-google icon"></i>
                        </div>
                        <div class="text">
                            <span>Google</span>
                        </div>
                    </div>
                    <div class="major-provider facebook-login">
                        <div class="icon-container">
                            <i class="fa fa-facebook icon"></i>
                        </div>
                        <div class="text">
                            <span>Facebook</span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="or-container">
                    <hr class="or-hr" style="border: 1px solid #ccc;" />
                    <div id="or">OR</div>
                </div>
                <form id="login-form" ng-submit="controller.register()">
                    <label for="displayName">Display Name</label><br />
                    <input type="text" name="displayName" id="displayName" placeholder="John Doe" ng-model="controller.registerUser.displayName"/><br />
                    <label for="email">Email</label><br />
                    <input type="email" name="email" id="email" placeholder="you@example.org" ng-model="controller.registerUser.email"/><br />
                    <label for="password">Password</label><br />
                    <input type="password" id="password" name="password" placeholder="********" ng-model="controller.registerUser.password"/><br />
                    <label for="reenterPassword">Reenter Password</label><br />
                    <input type="password" id="reenterPassword" name="reenterPassword" placeholder="********" ng-model="controller.registerUser.confirmPassword" /><br />
                    <input type="submit" id="submit-button" name="submit-button" value="Log in" class="btn login-button" />
                </form>
            </div>
        </div>
    </div>
</div>


<!--<div class="modal-content">
    <div class="modal-header">
        <h3>Signup to Code Query</h3>
    </div>
    <div class="modal-body">
        <h3>This is the body</h3>
        <h3>where things will be</h3>
        <h3>once the modal window</h3>
        <h3>is working</h3>
    </div>
    <div class="footer">
        <button class="btn btn-primary" ng-click="modal.OK()">Close</button>
    </div>
</div>-->
<!--<div class="modal-content">
    <div class="modal-header">
        <div class="login-page">
            <div class="login-title-text">
                <h3>Signup to Code Query</h3>
                <h5>Query Your Code!</h5>
            </div>
        </div>
        <div class="modal-body">
            <div class="signup-form-container">
                <div class="signin-buttons">
                    <div class="major-provider google-login">
                        <div class="icon-container">
                            <i class="fa fa-google icon"></i>
                        </div>
                        <div class="text">
                            <span>Google</span>
                        </div>
                    </div>
                    <div class="major-provider facebook-login">
                        <div class="icon-container">
                            <i class="fa fa-facebook icon"></i>
                        </div>
                        <div class="text">
                            <span>Facebook</span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="or-container">
                    <hr class="or-hr" style="border: 1px solid #ccc;" />
                    <div id="or">OR</div>
                </div>
                <form id="login-form">
                    <label for="displayName">Display Name</label><br />
                    <input type="text" name="displayName" id="displayName" placeholder="John Doe" /><br />
                    <label for="email">Email</label><br />
                    <input type="email" name="email" id="email" placeholder="you@example.org" /><br />
                    <label for="password">Password</label><br />
                    <input type="password" id="password" name="password" placeholder="********" /><br />
                    <label for="reenterPassword">Reenter Password</label><br />
                    <input type="password" id="reenterPassword" name="reenterPassword" placeholder="********" /><br />
                    <input type="submit" id="submit-button" name="submit-button" value="Log in" class="btn login-button" />
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="modal.OK()">Close</button>
        </div>
    </div>
</div>-->
