.login-page {
    text-align: center;
}

.login-title-text {
}

.login-form-container {
    width: 342px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    height: 355px;
}

.google-login {
    background: #e0492f;
}

.facebook-login {
    background: #395697;
}

.major-provider {
    cursor: pointer;
    border-radius: 3px;
    width: 136px;
    height: 38px;
    line-height: 36px;
    float: left;
    margin: 8px 2px;
    box-sizing: border-box;
    border: 1px solid transparent;
    text-align: center;
}

.icon-container {
    border-right: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    width: 38px;
    height: 100%;
    line-height: 1;
    padding: 10px 0;
    float: left;
}

.major-provider .icon {
    background: url('../img/openid/universal-login-sprite.svg?v=3ca03e653513');
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icon{
    color: white;
}

.text{
    color: white;
}

.signin-buttons {
}

.or-container {
}

.or-hr {
    margin-bottom: 0px;
    position: relative;
    top: 19px;
    height: 0;
    border: 0;
    border-top: 1px solid #ccc;
}

#or {
    padding: 10px;
    background-color: white;
    position: relative;
    display: inline-block;
    color: #555;
    font-size: 12px;
}

#login-form {
    text-align: left;
}

#email {
    border: 1px solid #ccc;
    color: #2a2a28;
    width: 279px;
    line-height: 1.3;
    font-size: 100%;
    padding: 8px;
    margin-bottom: 10px;
    height: 18px;
    border-radius: 0;
    cursor: auto !important;
    height: 36px;
}

#password {
    border: 1px solid #ccc;
    color: #2a2a28;
    width: 279px;
    line-height: 1.3;
    font-size: 100%;
    padding: 8px;
    margin-bottom: 10px;
    height: 18px;
    border-radius: 0;
    cursor: auto !important;
    height: 36px;
}

.forgot{
    float: right;
    position: relative;
    top: -8px;
    color: #ccc;
    font-size: 11px;
    font-weight: normal;
}

.login-button{
    float: right;
    text-align: center;
    background: #0077cc;
    color: #fff;
    border-radius: 3px;
    width: 120px;
    padding: 12px 40px;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0 !important;
}

.login-button:hover{
    color:white;
    background: #0077bb;

}