.signup-form-container {
    width: 342px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    height: 485px;
}

#displayName{
    border: 1px solid #ccc;
    color: #2a2a28;
    width: 279px;
    line-height: 1.3;
    font-size: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 0;
    cursor: auto !important;
    height: 36px;
}

#reenterPassword{
    border: 1px solid #ccc;
    color: #2a2a28;
    width: 279px;
    line-height: 1.3;
    font-size: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 0;
    cursor: auto !important;
    height: 36px;
}

.login-button{
    margin-top: 10px;
}

.login-page{
    margin-bottom: 15px;
}